<hr>
  <div>
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    関心企業一覧
  </div>
<hr>
<table class="table  table-striped">
<thead class="thead-inverse">
  <tr>
    <th class="text-center">Logos</th>
    <th class="text-center">Name</th>
    <th class="text-center"><%= sort_link(@ransack_interest, :score) %></th>
    <th class="text-center"><%= sort_link(@ransack_interest, :status) %></th>
    <th class="text-center"><%= sort_link(@ransack_interest, :date) %></th>
  </tr>
</thead>
<tbody>
  <%= render @interests %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <p class="text-center" valign="middle">
        <%= link_to "新しい企業を探す" , companies_path , { :class => "btn btn-primary btn-lg", :role =>"button"}%>
      </p>
    </td>
    <td></td>
  </tr>
</tbody>
</table>
