<%= form_for(@interest) do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% @interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id , {class: "form-control"}%>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id , {class: "form-control"}%>
  </div>
-->
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score , {class: "form-control"}%>
  </div>


  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status , {class: "form-control"}%>
  </div>
  
  <%= f.label :date %>
  <div class='input-group date datepicker field'>
   <%= f.text_field :date, class: 'form-control' %>
   <span class="input-group-addon">
       <span class="glyphicon glyphicon-calendar"></span>
   </span>
  </div>  
  
  
  <% #各項目の評価入力箇所 %>
  <%= f.fields_for :evaluation_scores do |evaluation_score| %>
    <div class="field">
      <%= @array_evaluation_titles[evaluation_score.object.selected_evaluation_item_id.to_i-1] %>
      <%= evaluation_score.number_field :score %>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  
  
  <div class="actions">
    <%= f.submit "更新する"%>
  </div>
<% end %>
