<tr id="company-<%= interest.company.id %>">
  <td><img border="0" height="60px" src="<%= interest.company.logoURL %>" alt="logo"></td>

  <td><p class="text-center" valign="middle">
     <%= link_to interest.company.name,  interest_path(interest.id) %>
  </p></td>

  <td><p class="text-center" valign="middle">
     <%= link_to interest.score||=0,  edit_interest_path(interest.id) %>
  </p></td>


  <td><p class="text-center" valign="middle">
    <% label_tag = make_label_class(interest.status)%>
    <%= content_tag(:span, interest.status, class: ["label",label_tag,"status-label"])%>

  </p></td>
  <td><p class="text-center" valign="middle"><%= interest.date %></p></td>
</tr>