<p id="notice"><%= notice %></p>

<p>
  <strong>会社名:</strong>
  <%= @interest.company.name %>
</p>

<p>
  <strong>総合評価:</strong>
  <%= @interest.score %>
</p>

<p>
  <strong>選考状況:</strong>
  <%= @interest.status %>
</p>

<p>
  <strong>次の日付:</strong>
  <%= @interest.date %>
</p>
<%= link_to '選考状況を更新する', edit_interest_path(@interest) %> 
<hr>

<p>
<strong>今までの記録:</strong>
  <% @interest_memos.each do |f| %>
    <div><%= f.date %></div>
    <div><%= simple_format(f.memo) %></div>
    <br>
  <% end %>
<%= link_to '新しい記録を残す', new_interest_memo_path(:interest_id => @interest.id) %>
</p>

<hr>

<%= link_to 'ホームに戻る', user_path(@interest.user_id) %>
