<hr>
  <div>
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <%= link_to '関心企業一覧', user_path(@interest.user_id) %>
     /   <%= @interest.company.name %>
  </div>
<hr>



<div class="page-header">
  <h4><span class="glyphicon glyphicon-inbox"></span> 選考状況概要 
  <small>この会社の現在の状況は？</small></h4>
</div>

<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
      会社名
  </li>
  <li class="list-group-item">
    <p>
      <%= @interest.company.name %>
    </p>
  </li>
  <li class="list-group-item list-group-item-warning">
      自己総合評価
  </li>
  <li class="list-group-item">
    <p>
      <%= @interest.score %>
    </p>
  </li>
  <li class="list-group-item list-group-item-warning">
      選考状況
  </li>
  <li class="list-group-item">
    <p>
      <%= @interest.status %>
    </p>
  </li>
  <li class="list-group-item list-group-item-warning">
      次の日付
  </li>
  <li class="list-group-item">
    <p>
      <%= @interest.date %>
    </p>
  </li>
</ul>

<%= link_to edit_interest_path(@interest) do %>
    <span class="glyphicon glyphicon-pencil"></span>
    この企業の選考概要を更新する
<% end %>


<hr>


<div class="page-header">
  <h4><span class="glyphicon glyphicon-book"></span> 企業評価
  <small>この会社の自分の評価結果を残そう</small></h4>
</div>


<ul class="list-group">
  <% @evaluation_scores.each do |f| %>
  <li class="list-group-item list-group-item-warning">
        <%= f.selected_evaluation_item.evaluation_item.title %>
  </li>
  <li class="list-group-item">
    <p>
        <%= f.score %>
    </p>
  </li>
  <% end %>
</ul>


<%= high_chart("radar", @graph) %>



<hr>


<div class="page-header">
  <h4><span class="glyphicon glyphicon-book"></span> 今までの記録
  <small>この会社に関係したセミナーや面接をメモしよう！</small></h4>
</div>


<ul class="list-group">
  <% @interest_memos.each do |f| %>
  <li class="list-group-item list-group-item-warning">
      <%= link_to edit_interest_memo_path(f) do %>
          <span class="glyphicon glyphicon-calendar"></span>
          <%= f.date %>
      <% end %>
  </li>
  <li class="list-group-item">
    <p>
      <p class="list-group-item-text"><%= simple_format(f.memo) %></p>
    </p>
  </li>
  <% end %>
</ul>

<%= link_to new_interest_memo_path(:interest_id => @interest.id) do %>
    <span class="glyphicon glyphicon-pencil"></span>
    新しい記録を残す
<% end %>

<hr>

<%= link_to 'ホームに戻る', user_path(@interest.user_id) %>



