 
<hr>
  <div>
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    関心企業一覧　/　企業追加
  </div>
<hr>

  <%= search_form_for @q,html:{class:"form-inline text-center"} do |f| %>
  <div class="form-group">
      <%= f.search_field :name_cont ,class: "form-control"%>
      <span class = "input-group">
      <%= f.submit "検索"%>
      </span>
    <% end %>
  </div>
  

  <table class="table  table-striped">
  <thead class="thead-inverse">
    <tr>
      <th class="text-center">Logos</th>
      <th class="text-center">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td class="text-center"><img border="0" height="60px" src="<%= company.logoURL %>" alt="logo"></td>
        <td>
          <p class="text-center" valign="middle">
          <%= company.name %>
          </p>
        </td>
        <td>
          <%= button_to "追加する" , action="/interests/addCompany?company_id=#{company.id}" , { :class => "btn btn-primary btn-lg", :role =>"button"}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
