<%= form_for(@selected_evaluation_item) do |f| %>
  <% if @selected_evaluation_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selected_evaluation_item.errors.count, "error") %> prohibited this selected_evaluation_item from being saved:</h2>

      <ul>
      <% @selected_evaluation_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :evaluation_item_id %><br>
    <%= f.number_field :evaluation_item_id %>
  </div>
  <div class="field">
    <%= f.label :importance %><br>
    <%= f.number_field :importance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
