<p id="notice"><%= notice %></p>

<h1>Listing Evaluation Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluation_items.each do |evaluation_item| %>
      <tr>
        <td><%= evaluation_item.title %></td>
        <td><%= link_to 'Show', evaluation_item %></td>
        <td><%= link_to 'Edit', edit_evaluation_item_path(evaluation_item) %></td>
        <td><%= link_to 'Destroy', evaluation_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation item', new_evaluation_item_path %>
