<%= form_for(@interest_memo) do |f| %>
  <% if @interest_memo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest_memo.errors.count, "error") %> prohibited this interest_memo from being saved:</h2>

      <ul>
      <% @interest_memo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= f.hidden_field :interest_id, :value => @interest_memo.interest_id %>
  </div>

  <%= f.label :date %>
  <div class='input-group date datepicker'>
   <%= f.text_field :date, class: 'form-control' %>
   <span class="input-group-addon">
       <span class="glyphicon glyphicon-calendar"></span>
   </span>
  </div>  

  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo, :size=>"60x15"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
