 

<h1>Listing Interest Memos</h1>

<table>
  <thead>
    <tr>
      <th>Interest</th>
      <th>Date</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interest_memos.each do |interest_memo| %>
      <tr>
        <td><%= interest_memo.interest_id %></td>
        <td><%= interest_memo.date %></td>
        <td><%= interest_memo.memo %></td>
        <td><%= link_to 'Show', interest_memo %></td>
        <td><%= link_to 'Edit', edit_interest_memo_path(interest_memo) %></td>
        <td><%= link_to 'Destroy', interest_memo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interest memo', new_interest_memo_path %>
